<div class='coats-card'>
  <%#= link_to item_path(item.id) do %>
      <div class='coat-img-card'>
        <%= image_tag coat.image, class: "image-card" %>
      </div>
      <ul class='coat-card-list'>
        <li class='coat-list'>
          <div class='card-info'>
            <%= coat.name %>
          </div> 
          <div class='card-info'>
            <%= "〒 #{coat.prefecture.name}" %><%= coat.city %><%= coat.address %>
          </div>
          <div class='card-info'>
            <%= "投稿者 #{coat.user.nickname}" %>
          </div>
        </li>
      </ul>
</div>
