<div class="show-main">
    <div class="main-left">
      <div class="show-image">
        <%= image_tag @coat.image, class: "show-image-tag" %>
      </div>
      <div class="show-coment">
         сѓ│сЃАсЃ│сЃѕТЕЪУЃйсѓњУ┐йтіасЂЎсѓІ
      </div>
    </div>
    <div class="main-right">
      <div class="main-right-top">
        <ul class="show-list">
          <li class="show-list-top"> ­ЪјЙ  <%= @coat.name %></li>
          <li class="show-list-sav">  <%= "СйЈТЅђ : #{@coat.prefecture.name}" %><%= @coat.city %><%= @coat.address %></li>
          <li class="show-list-sav"> <%= "тѕЕућетЈ»УЃйТЎѓжќЊ : #{@coat.start_time.name}" %> ~ <%= @coat.finish_time.name %> </li>
          <li class="show-list-sav"> <%= "сѓ│сЃ╝сЃѕсЂ«жЮбТЋ░ : #{@coat.number.name}" %>
        </ul>
        <ul class="show-sideber">
          <li class="side-map" id="map-js">сЃъсЃЃсЃЌУАеуц║</li>
          <li class="side-list" id="menu-js">Menu</li>
        </ul>
      </div>
      <div class="show-info">
        <div class="info-title">
        Рўє сЂісЂЎсЂЎсѓЂсЃЮсѓцсЃ│сЃѕ№╝Ђ№╝Ђ Рўє
        </div>
        <div class="info-content">
          <%= @coat.info %>
        </div>
      </div>
    </div>
       <%  if user_signed_in? %>
        <ul class="sideber-js hidden" id="side-js">
        <li><%= link_to 'Тќ░УдЈТіЋуе┐', new_coat_path , class: "side-list-js" %></li> 
        <li><%= link_to 'сЃГсѓ░сѓбсѓдсЃѕ', destroy_user_session_path, method: :delete, class: "side-list-js"%></li> 
        <li><%= link_to 'сЃѕсЃЃсЃЌсЃџсЃ╝сѓИ', root_path , class: "side-list-js" %></li>  
<<<<<<< HEAD
        <li><%= link_to 'уиежЏє', edit_coat_path , class: "side-list-js" %></li>
        <li><%= link_to 'тЅіжЎц', coat_path , method: :delete, class: "side-list-js" %></li> 
=======
        <li><%= link_to 'уиежЏє', "" , class: "side-list-js" %></li>
        <li><%= link_to 'тЅіжЎц', "" , class: "side-list-js" %></li> 
>>>>>>> parent of 24597e8 (уиежЏєТЕЪУЃйт«ЪТќй)
        </ul> 
      <% else %> 
        <ul class="sideber-js hidden" id="side-js">
        <li><%= link_to 'сЃГсѓ░сѓцсЃ│', new_user_session_path, class: "side-list-js" %></li>
        <li><%= link_to 'Тќ░УдЈуЎ╗жї▓', new_user_registration_path, class: "side-list-js" %></li>
        <li><%= link_to 'сЃѕсЃЃсЃЌсЃџсЃ╝сѓИ', root_path , class: "side-list-js" %></li>
        </ul>
      <% end %>
</div>