<header class="top-header">
  <div class="navbar">
    <% if user_signed_in? %>
      <%= link_to "ðŸ‘¤ #{current_user.nickname}", "", class: "top-nickname", method: :get %>
    <% else%>
      <div class="top-nickname">ðŸ‘¤ æœªç™»éŒ²ãƒ¦ãƒ¼ã‚¶ãƒ¼</div>
    <% end %>
    <div id="nav-left-jp" class="nav-left">
      è¡¨ç¤ºãƒªã‚¹ãƒˆ â–½
       <ul class="nav-all-list hidden" id="left-jp">
          <li class="all-list" id="all-list-jp">ä¸€è¦§è¡¨ç¤º</li>
          <li><%= link_to 'åœ°åŸŸåˆ¥è¡¨ç¤º' "", class: "all-list"%></li>
          <li><%= link_to 'ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸', root_path , class: "all-list" %></li>
       </ul>
    </div> 
    <div id="nav-right-jp" class= "nav-right" >
      ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒªã‚¹ãƒˆ â–½
        <%  if user_signed_in? %>
          <ul class="nav-lists hidden" id="right-jp">
          <li><%= link_to 'æ–°è¦æŠ•ç¨¿', new_coat_path , class: "all-list" %></li> 
          <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class: "all-list"%></li> 
          <li><%= link_to 'ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸', root_path , class: "all-list" %></li>  
          </ul> 
        <% else %> 
          <ul class="nav-lists hidden" id="right-jp">
          <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "all-list" %></li>
          <li><%= link_to 'æ–°è¦ç™»éŒ²', new_user_registration_path, class: "all-list" %></li>
          <li><%= link_to 'ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸', root_path , class: "all-list" %></li>
          </ul>
        <% end %>
    </div>
  </div>
</header>
<div class="heading">
    <h1>Tennishare</h1>
</div>
